body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  .home-container {
    text-align: center;
    padding: 20px;
  }
  .bold{
    font-weight: 600;
    color:#333;
  }
  .title {
    font-size: 2.5rem;
    color: #ff9f00;
  }
  
  .subtitle {
    font-size: 1rem;
    color: #555;
    margin-bottom: 30px;
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 20px;
  }
  
  .service-item {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .service-item .icon {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #ff9f00;
  }
  
  .service-item h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .service-item p {
    font-size: 0.9rem;
    color: #666;
  }