.sidebar {
  width: 250px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-title {
  font-size: 24px;
  font-weight: bold;
  color: #FFBE4D;
}

.sidebar-subtitle {
  font-size: 18px;
  color: #666;
  margin-top: 40px ;
}

.sidebar-divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0; margin-top: 30px;
}

.sidebar-option {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin: 5px 0;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.sidebar-option:hover {
  background-color: #ffe5e0;
}

.active-option {
  background-color: #FFBE4D;
  color: #fff;
}

.sidebar-icon {
  margin-right: 10px;
  font-size: 18px;
}
